# Ignorar ejecutables y objetos (generados localmente al compilar)
*.o
*.exe
quadtree_sim

# Ignorar carpetas de IDEs
.idea/
.vscode/

# Ignorar archivos de datos generados o logs
benchmark_results.csv
